/**
 * Hero Banner Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.hero-banner {
  min-height: calc( 100vh - var(--topOffset) );

  .hero-banner__background {
    background-color: theme(colors.brand.light-green-4);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 549px;

    img {
      position: absolute;
      width: 100%;
      bottom: -63px;
      height: 64px;
    }
  }
}
