.js-fade:not(.js-ignore) {
  --fade-group-delay: 0;
  opacity: 0;
  transform: translate3d(0,25px,0);
  will-change: transform, opacity;
  transition: 0.5s ease;

  &.js-animated {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.js-fade-group:not(.js-ignore) {
  --fade-group-delay: 0;

  > *:not(.js-ignore) {
    opacity: 0;
    transform: translate3d(0,25px,0);
    will-change: transform, opacity;
    transition: opacity 0.35s var(--fade-group-delay) ease, transform 1s ease;
  }

  &.js-fade--down,
  &.js-fade-group--down > *:not(.js-ignore) {
    transform: translate3d(0,-25px,0);
  }

  &.js-animated {
    > *:not(.js-ignore) {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}

.js-reveal {
  clip-path: inset(0 100% 0 0);
  transition: 1.5s cubic-bezier(0, 0, 0.58, 1.0);

  &.js-reveal--left {
    clip-path: inset(0 0 0 100%);
  }

  &.js-animated {
    clip-path: inset(0 0 0 0);
  }
}

.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}

.float-reverse {
  animation-name: float-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float-reverse {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -15px); }
  100%   { transform: translate(0, -0px); }
}

@keyframes rollRight {
  from {
    opacity: 1;
    transform: translate3d(300%, 0, 0) rotate(360deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes rollLeft {
  from {
    opacity: 1;
    transform: translate3d(-300%, 0, 0) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
