/*
 * navbar base styles are using plain css with some tailwind
 * sprinkled in. @apply tailwind utilities for theme specifics
 * like font sizes, colors, and even spacings as necessary. The
 * rest we will just do in plain css.
 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbarHeight);
  @apply bg-white;
  z-index: 90;

  /*
   * quality of life enhancement for logged in admins
   * not on IE
   */
  .logged-in.admin-bar & {
    top: var(--wp-admin--admin-bar--height);
  }

  .logo.logo--header {
    height: 48px;
    @screen xl {
      height: 56px;
    }
  }

  .primary-menu-item {
    width: 85%;
    margin: 0 auto;
    @screen lg {
      width: unset;
      margin-left: 0;
      margin-right: 16px;
    }
    @screen xl {
      margin-right: 40px;
    }

    &:last-of-type {
      margin-right: 0;
    }
    > button,
    > a {
      @extend .paragraph-large;
      color: theme(colors.brand.off-black);
      padding: 1rem 0;
      border-bottom: 1px solid theme(colors.brand.deep-green);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @screen lg {
        @extend .paragraph-default;
        display: block;
        color: theme(colors.white);
        position: relative;
        padding: 0;
        margin: 0;
        width: unset;
        border: none;

        &::before {
          content: "";
          position: absolute;
          left: -12px;
          width: 8px;
          height: 8px;
          top: 50%;
          border-radius: 100%;
          background-color: theme(colors.brand.light-green-2);
          transform: translateY(-50%) scale(0);
          transition: all .45s cubic-bezier(0.65, 0, .076, 1);
          display: none;
          @screen lg {
            display: block;
          }
          @screen xl {
            left: -16px;
          }
        }

        &:hover,
        &.is-open {
          &::before {
            transition: all .4s cubic-bezier(.32,1.51,.65,1.4);
            transform: translateY(-50%) scale(1);
          }
        }
      }
    }
  }
  .primary-menu__list-item:hover {
    background-color: theme(colors.brand.light-green-4);
    .primary-btn {
      color:theme(colors.white);
      .right-arrow-btn-icon {
        transform: translateX(6px);
      }
      .circle {
        width: 100%;
        .line {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
  }
  .child-menu-panel {
    position: absolute;
    background-color: theme(colors.white);
    width: 100%;
    left: 0;
    overflow: auto;
    height: 100%;
    padding-bottom: 120px;
    top: 0;

    @screen lg {
      top: var(--navbarHeight);
      padding: 32px 0;
      height: unset;
      overflow: unset;
    }
  }
  .nav_quoter_button {
    @extend .paragraph-default;
    position: relative;
    color: theme(colors.brand.off-black);
    width: 135px;
    text-align: center;

    .quoter-btn__text {
      display: inline-block;
      transition: all .3s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 135px;
      width: 135px;
      border-radius: 100%;
      background-color: theme(colors.brand.light-green-2);
      transition: all .25s ease-in-out;
    }

    &:hover::before {
      background-color: theme(colors.brand.light-green-3);
    }
    &:hover .quoter-btn__text {
      transform: rotate(15deg);
    }
  }
}
.primary-nav {
  position: absolute;
  width: 100%;
  top: var(--navbarHeight);
  left: 0;
  height: calc(100dvh - var(--topOffset));
  background-color: theme(colors.white);

  @screen lg {
    position: unset;
    width: unset;
    top: unset;
    left: unset;
    height: unset;
    background-color: unset;
  }
}
.navbar-toggle {
  --toggleWidth: 32px;
  --toggleHeight: 24px;
  --lineHeight: 1px;
  --bottomPosition: calc(var(--toggleHeight) - var(--lineHeight));
  --middlePosition: calc(var(--bottomPosition) / 2 );

  position: relative;
  display: inline-block;
  width: var(--toggleWidth);
  height: var(--toggleHeight);
  outline: none;

  &:focus {
    outline: none;
  }
}

.navbar-toggle.is-open {
  .navbar-toggle-icon {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center center;

    &::before {
      opacity: 0;
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      transform-origin: center center;
    }
  }
}

.navbar-toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: var(--toggleWidth);
  height: var(--lineHeight);
  background-color: theme(colors.white);
  transition: all 0.15s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: var(--toggleWidth);
    height: var(--lineHeight);
    background-color: theme(colors.white);
  }

  &::before {
    top: var(--middlePosition);
  }

  &::after {
    top: var(--bottomPosition);
    transition: all 0.15s ease;
  }
}

.nav-overlay {
  display: none;

  @screen lg {
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: theme(colors.brand.deep-green);
    opacity: 0;
    left: 0;
    bottom: 0;
    transition: all 0.75s;

    &.is-active {
      opacity: 0.8;
    }
  }
}
