/**
 * Content Grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.content-grid {
  &.is-full-screen {
    @apply flex items-center;

    &::before {
      content: '';
      display: block;
      min-height: calc( 100vh - var(--topOffset) - ( 96px * 2 ) );
    }

    > .container {
      @apply flex-initial w-full;
    }
  }
}
